Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=betterfivecolumnhomescreenDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=betterfivecolumnhomescreenDp
Author: Redpandadev <rpdev@rpdev.info>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: betterFiveColumnHomescreen
Package: info.rpdev.betterfivecolumnhomescreen
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 8.0), com.chpwn.iconsupport
Section: Tweaks
Installed-Size: 130
Version: 1.0.1
Architecture: iphoneos-arm
Description: Five Column Homescreen with proper spacing!
dev: rpdev
Tag: purpose::extension, compatible::ios8, compatible::ios9
